# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Logs
*.log

# IDE
.idea/

# Python packaging
*.egg-info/
dist/
build/